.DS_Store
.idea/

# Ignore error/output files
outputs/
*_out.txt
*_out*
*_err*
*.out
*.err

# Ignore log files
*.log

# Ignore VS Code settings
.vscode/

# Ignore data files
data/MedMCQA/

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Slurm scripts
scripts/
scripts/probeMCQ_exp-mod.sh
